.content {
  overflow: hidden;
}

.content *:first-child {
  margin-top: 0;
}

.content > h1 {
  font-size: 2rem;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
  margin: 2.8rem 0 1rem;
}

.content > h2 {
  font-size: 1.6rem;
  font-weight: bold;
  margin: 2.8em 0 1rem;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.5rem;
  padding-top: 1rem;
}

.content > h3 {
  font-size: 1.4rem;
  font-weight: bold;
  margin: 2.8rem 0 1rem;
  padding-top: 1rem;
}

.content > h4 {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 2.8rem 0 1rem;
}

.content > h5 {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 2.8rem 0 1rem;
}

.content > p {
  margin: 2rem 0 0.5rem;
  line-height: 2;
}

.content > p > code {
  background: #215aa012;
  font-size: 14px;
  padding: 2px 4px;
}

.content > pre {
  margin-top: 1rem;
  margin-bottom: 1rem;
  overflow-x: auto;
}

.content pre > code {
  background-color: #1a2638;
  display: block;
  overflow-x: auto;
  padding: 16px;
  border-radius: 12px;
}

.content div[data-filename]::before {
  display: inline-block;
  background-color: #f3f3f3;
  content: attr(data-filename);
  margin: 1em 0 0;
  font-family: menlo, inconsolata, monospace;
  font-size: 0.8rem;
  padding: 4px 16px;
  border-radius: 4px 4px 0 0;
}

.content ul,
.content ol {
  margin: 0.5rem 0 0.5rem 2rem;
}

.content > ul,
.content > ol {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.content ul > li {
  list-style: disc;
  line-height: 2rem;
}

.content ol > li {
  list-style: decimal;
}

.content li {
  margin: 0.5rem 0;
}

.content > figure {
  margin: 2rem 0;
}

.content > figure img {
  max-width: 100%;
  height: auto;
}

.content > figure figcaption {
  font-size: 0.8rem;
  color: #999;
}

.content > strong {
  font-weight: bold;
}

.content > blockquote {
  border-left: 4px solid #ddd;
  padding-left: 1rem;
  font-style: italic;
  margin: 2rem 0;
}

.content > hr {
  margin: 4rem 0;
  height: 1px;
  background-color: #ddd;
  border: none;
}

.content > table {
  width: 100%;
  margin: 2rem 0;
}

.content > table th {
  background-color: #f3f3f3;
  text-align: left;
  padding: 1rem;
}

.content > table td {
  text-align: left;
  padding: 1rem;
}

@media (max-width: 640px) {
  /* .content {
    width: 100%;
  } */
}
